XSDSchemas/sap.tnt.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:n14="sap.tnt" xmlns:n0="sap.ui.core" xmlns:n6="sap.m" elementFormDefault="qualified" targetNamespace="sap.tnt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="sap.ui.core" />
  <xs:import namespace="sap.m" />
  <xs:element name="InfoLabel" substitutionGroup="n0:Control" type="n14:_InfoLabelType">
    <xs:annotation>
      <xs:documentation>The &lt;code&gt;InfoLabel&lt;/code&gt; is a small non-interactive control which contains text information and non-semantic color chosen from a list of predefined color schemes. It serves the purpose to attract the user attention to some piece of information (state, quantity, condition, etc.).

&lt;h3&gt;Overview&lt;/h3&gt;

The control visualizes text information without user interaction. The text inside the control is always in upper case. It can have smaller or larger side paddings which can be specified by the &lt;code&gt;renderMode&lt;/code&gt; property. The text-background color pair can be changed by setting a digit between 1 and 9 that corresponds to the 9 predefined color combinations of the &lt;code&gt;colorScheme&lt;/code&gt; property. The control is designed to be vertically aligned with UI5 Input and Button control families. When using &lt;code&gt;InfoLabel&lt;/code&gt; in non-editable &lt;code&gt;Forms&lt;/code&gt;, &lt;code&gt;Tables&lt;/code&gt;, etc., set &lt;code&gt;displayOnly=true&lt;/code&gt; for best visual results.

&lt;h3&gt;Limitations&lt;/h3&gt; &lt;ul&gt; &lt;li&gt;If the text is longer than the width of the control, it doesn’t wrap. Instead, it’s represented as ellipsis. &lt;/li&gt; &lt;li&gt;When truncated, the full text in the control is not visible. Therefore, it’s recommended to make more space for longer items to be fully displayed.&lt;/li&gt; &lt;li&gt;Colors are not semantic and have no visual representation in sap_belize_hcb and sap_belize_hcw themes.&lt;/li&gt; &lt;li&gt;The control shows plain text only, formatting is not visualized.&lt;/li&gt; &lt;/ul&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_InfoLabelType">
    <xs:complexContent mixed="false">
      <xs:extension base="n0:_ControlType">
        <xs:attribute name="text" type="xs:string">
          <xs:annotation>
            <xs:documentation>Specifies the text inside the &lt;code&gt;InfoLabel&lt;/code&gt; control.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="renderMode" type="n14:_RenderModeType">
          <xs:annotation>
            <xs:documentation>Specifies the type of the &lt;code&gt;InfoLabel&lt;/code&gt; paddings - loose or narrow. &lt;b&gt;Note:&lt;/b&gt; By default the padding is loose. It is recommended to use narrow (smaller) paddings for numeric texts.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="colorScheme" type="xs:int">
          <xs:annotation>
            <xs:documentation>Specifies the fill and text color of the control. Accepts a digit as a value. You can choose from 9 predefined background and text color combinations. The color schemes are non-semantic, you can select them according to your own preferences. The default &lt;code&gt;colorScheme&lt;/code&gt; is 7.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="width" type="n0:_CSSSizeType">
          <xs:annotation>
            <xs:documentation>Specifies the width of the &lt;code&gt;InfoLabel&lt;/code&gt; control. By default, the &lt;code&gt;InfoLabel&lt;/code&gt; control has the width of the content. Set this property to restrict the width to a custom value.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="displayOnly" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Determines if the &lt;code&gt;InfoLabel&lt;/code&gt; is in &lt;code&gt;displayOnly&lt;/code&gt; mode. When set to &lt;code&gt;true&lt;/code&gt; the control size adjusts to fit other controls, for example non-editable &lt;code&gt;Forms&lt;/code&gt;.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="textDirection" type="n0:_TextDirectionType">
          <xs:annotation>
            <xs:documentation>Available options for the text direction are LTR and RTL. By default the control inherits the text direction from its parent control.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NavigationList" substitutionGroup="n0:Control" type="n14:_NavigationListType">
    <xs:annotation>
      <xs:documentation>The NavigationList control is an interactive control, which provides a choice of different items, ordered as a list.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_NavigationListType">
    <xs:complexContent mixed="false">
      <xs:extension base="n0:_ControlType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="n14:NavigationListItem" />
            <xs:element ref="n0:Fragment" />
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" />
          </xs:choice>
          <xs:element minOccurs="0" name="items">
            <xs:annotation>
              <xs:documentation>The items displayed in the list.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="n14:NavigationListItem" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="width" type="n0:_CSSSizeType">
          <xs:annotation>
            <xs:documentation>Specifies the width of the control.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expanded" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Specifies if the control is in expanded or collapsed mode.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="items" type="xs:string" />
        <xs:attribute name="ariaDescribedBy" type="xs:string">
          <xs:annotation>
            <xs:documentation>Association to controls / IDs, which describe this control (see WAI-ARIA attribute aria-describedby).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ariaLabelledBy" type="xs:string">
          <xs:annotation>
            <xs:documentation>Association to controls / IDs, which label this control (see WAI-ARIA attribute aria-labelledby).</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="selectedItem" type="xs:string">
          <xs:annotation>
            <xs:documentation>The currently selected &lt;code&gt;NavigationListItem&lt;/code&gt;.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="itemSelect" type="xs:string">
          <xs:annotation>
            <xs:documentation>Fired when an item is selected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NavigationListItem" substitutionGroup="n0:Item" type="n14:_NavigationListItemType">
    <xs:annotation>
      <xs:documentation>The NavigationListItem control represents an action, which can be selected by the user. It can provide sub items.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_NavigationListItemType">
    <xs:complexContent mixed="false">
      <xs:extension base="n0:_ItemType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="n14:NavigationListItem" />
            <xs:element ref="n0:Fragment" />
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" />
          </xs:choice>
          <xs:element minOccurs="0" name="items">
            <xs:annotation>
              <xs:documentation>The sub items.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="n14:NavigationListItem" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="icon" type="n0:_URIType">
          <xs:annotation>
            <xs:documentation>Specifies the icon for the item.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="expanded" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Specifies if the item is expanded.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="hasExpander" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Specifies if the item has an expander.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="visible" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Specifies if the item should be shown.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="items" type="xs:string" />
        <xs:attribute name="select" type="xs:string">
          <xs:annotation>
            <xs:documentation>Fired when this item is selected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SideNavigation" substitutionGroup="n0:Control" type="n14:_SideNavigationType">
    <xs:annotation>
      <xs:documentation>The SideNavigation control is a container, which consists of flexible and fixed parts on top of each other. &lt;h4&gt;Responsive Behavior&lt;/h4&gt; &lt;ul&gt; &lt;li&gt;The flexible part adapts its size to the fixed one.&lt;/li&gt; &lt;li&gt;The flexible part has a scrollbar when the content is larger than the available space.&lt;/li&gt; &lt;/ul&gt; &lt;b&gt;Note:&lt;/b&gt; In order for the SideNavigation to stretch properly, its parent layout control should only be the sap.tnt.ToolPage.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_SideNavigationType">
    <xs:complexContent mixed="false">
      <xs:extension base="n0:_ControlType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="n14:NavigationList" />
            <xs:element ref="n0:Fragment" />
            <xs:any namespace="http://www.w3.org/1999/xhtml" processContents="lax" />
          </xs:choice>
          <xs:element minOccurs="0" name="item">
            <xs:annotation>
              <xs:documentation>Defines the content inside the flexible part.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element ref="n14:NavigationList" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="fixedItem">
            <xs:annotation>
              <xs:documentation>Defines the content inside the fixed part.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element ref="n14:NavigationList" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="footer">
            <xs:annotation>
              <xs:documentation>Defines the content inside the footer.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element ref="n14:NavigationList" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="expanded" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Specifies if the control is expanded.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="selectedItem" type="xs:string">
          <xs:annotation>
            <xs:documentation>The selected &lt;code&gt;NavigationListItem&lt;/code&gt;.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="itemSelect" type="xs:string">
          <xs:annotation>
            <xs:documentation>Fired when an item is selected.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolHeader" substitutionGroup="n6:OverflowToolbar" type="n14:_ToolHeaderType">
    <xs:annotation>
      <xs:documentation>The ToolHeader control is a horizontal container that is most commonly used to display buttons, labels, and other various input controls. &lt;h4&gt;Overview&lt;/h4&gt; The ToolHeader control is based on {@link sap.m.OverflowToolbar}. It contains clearly structured menus of commands that are available across the various apps within the same tool layout. &lt;h4&gt;Usage&lt;/h4&gt; &lt;ul&gt; &lt;li&gt;If an app implements side navigation in addition to the tool header menu, the menu icon must be the first item on the left-hand side of the tool header.&lt;/li&gt; &lt;li&gt;The app menu and the side navigation must not have any dependencies and must work independently.&lt;/li&gt; &lt;/ul&gt;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_ToolHeaderType">
    <xs:complexContent mixed="false">
      <xs:extension base="n6:_OverflowToolbarType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolHeaderUtilitySeparator" substitutionGroup="n0:Control" type="n14:_ToolHeaderUtilitySeparatorType">
    <xs:annotation>
      <xs:documentation>The ToolHeaderUtilitySeparator control is used in the sap.tnt.ToolHeader control to specify where the overflow button is placed.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_ToolHeaderUtilitySeparatorType">
    <xs:complexContent mixed="false">
      <xs:extension base="n0:_ControlType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ToolPage" substitutionGroup="n0:Control" type="n14:_ToolPageType">
    <xs:annotation>
      <xs:documentation>The ToolPage is a layout control, used to create a basic tools app that has a header, side navigation and contents area. &lt;h4&gt;Overview&lt;/h4&gt; The control has three main areas - a header on top, navigation to the side and a content are that can hold any control. The header and side navigation use custom controls - {@link sap.tnt.ToolHeader} and {@link sap.tnt.SideNavigation}. &lt;h4&gt;Usage&lt;/h4&gt; The main usage for the asp.tnt controls is for scenarios in the tooling or administration space.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="_ToolPageType">
    <xs:complexContent mixed="false">
      <xs:extension base="n0:_ControlType">
        <xs:sequence>
          <xs:element minOccurs="0" name="header">
            <xs:annotation>
              <xs:documentation>The control to appear in the header area.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element ref="n14:ToolHeader" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="sideContent">
            <xs:annotation>
              <xs:documentation>The side menu of the layout.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0">
                  <xs:element ref="n14:SideNavigation" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="mainContents">
            <xs:annotation>
              <xs:documentation>The content section.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="n0:Control" />
                  <xs:element ref="n0:Fragment" />
                </xs:choice>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="sideExpanded" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>Indicates if the side area is expanded. Overrides the expanded property of the sideContent aggregation.</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="mainContents" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="_RenderModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Loose">
        <xs:annotation>
          <xs:documentation>When type of the content of &lt;code&gt;InfoLabel&lt;/code&gt; is text padding are loose</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Narrow">
        <xs:annotation>
          <xs:documentation>When type of the content of &lt;code&gt;InfoLabel&lt;/code&gt; is numeric paddings are narrow</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>